.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-bg-color;

    @media screen and (max-width:767px){
        text-align: center;
    }
}

.footer__container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media screen and (max-width:767px) {
            max-width: 480px;
            margin: 0 auto;
        }
    @media screen and (min-width:768px) and (max-width:1199px) {
        max-width: 768px;
        margin: 0 auto;
    }
    @media screen and (min-width:1200px) {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    text-align: left;       
    }
    }
    
.footer__contact {
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-block;
        width: 232px;
        margin-left: 61px;
        margin-right: 165px;
    }
}
.footer__list {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.footer__item {
    margin-bottom: 9px;
    &:last-of-type {margin-bottom: 0;}
}

.footer__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.6);
    &--light {color: $light-text-color;}
    &:hover,
    &:focus {color: $accent-color;}
}

.socialnetwork {
    

    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-text-color;
    
    @media screen and (max-width:767px) {
        margin-top: 60px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: inline-block;
        width: 206px;
        margin-top: -20px;
    }
    @media screen and (min-width:1200px) {
        margin-left: 70px;    
    }
}

.socialnetwork__title {
    margin: 0;
    margin-bottom: 20px;
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

.socialnetwork__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.socialnetwork__item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    &+& {margin-left: 10px;}
}


.socialnetwork__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {background-color: $accent-bg-color;
        border-radius: 50%;
        outline: none; }
}

.social__link--first {
    background-image: url(../images/instagramomg.svg);
}

.social__link--second {
    background-image: url(../images/twitteromg.svg);
}

.social__link--third {
    background-image: url(../images/facebookomg.svg);
}

.social__link--fourth {
    background-image: url(../images/linkedinomg.svg);
}


.footer__form {
    

    @media screen and (max-width:767px) {
        margin-top: 60px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 450px;
        margin: 0 auto;
        margin-top: 60px;
    }
    @media screen and (min-width:1200px) {
        margin-left: 94px;    
    }
}

.footer__label {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $light-text-color;
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: block;
        width: 219px;
        margin: 0 auto;
    } 
}

.signature {
    
    margin-top: 20px;
    @media screen and (min-width:1200px) {
    display: flex;    
    }
}

.signature__input {  
    height: 50px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $light-text-color;

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
        width: calc(100% - 30px);
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 450px;
        margin-bottom: 20px;
    }
    @media screen and (min-width:1200px) {
    width: 358px; 
    margin-right: 12px;   
    }
}

.signature__button {
    display: flex;
    justify-content: space-between;
    padding-left: 29px;
    padding-right: 28px;

    fill: $light-text-color;

    @media screen and (max-width:1199px) {
        margin: 0 auto;
    }
}