    $general-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $light-text-color: #ffffff;
    $dark-text-color: #000000;
    $primary-bg-color: #ffffff;
    $secondary-bg-color: #2f303a;
    $accent-bg-color: #2196f3;
    $extra-bg-color: #f5f4fa;
    $icons-primary-color: #afb1b8;



// :root {
//     --general-text-color: #757575;
//     --title-text-color: #212121;
//     --accent-color: #2196f3;
//     --light-text-color: #ffffff;
//     --dark-text-color: #000000;
//     --primary-bg-color: #ffffff;
//     --secondary-bg-color: #2f303a;
//     --accent-bg-color: #2196f3;
//     --extra-bg-color: #f5f4fa;
//     --icons-primary-color: #afb1b8;
// }